Logic Building Task 2

1. Unique Words in a Sentence

In [1]:
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)

print("Unique words:", unique_words)
print("Count of unique words:", len(unique_words))

Enter sentence: python is easy and python is powerful
Unique words: {'and', 'powerful', 'easy', 'is', 'python'}
Count of unique words: 5

2. Highest Salary from Employee Data

In [7]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_paid = max(employees, key=employees.get)

print("Employee with highest salary:", highest_paid)
print("Highest salary:", employees[highest_paid])

Employee with highest salary: Ravi
Highest salary: 75000

3. Find Maximum and Minimum Values

In [4]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("list:",numbers)
print("Maximum value:", maximum)
print("Minimum value:", minimum)

list: [45, 22, 89, 10, 66]
Maximum value: 89
Minimum value: 10

4. Count Products Above a Price Threshold

In [5]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Number of products with price greater than 1000:", count)

Number of products with price greater than 1000: 2

5. Calculate Attendance Percentage

In [6]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage, "%")

Attendance Percentage: 80.0 %

6. Remove Duplicate Phone Numbers

In [9]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:",unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

7. Count Character Frequency

In [11]:
string = "pythonp"

char_count = {}

for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

8. Convert List to Tuple

In [12]:
numbers = [10, 20, 30]

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

09. Check if a Key Exists in a Dictionary

In [18]:
employees = {
    "Dev": 25000,
    "Aman": 28000,
    "Priya": 30000
}
key_to_check = "Dev"

if key_to_check in employees:
    print("Employee exists")

Employee exists

10. Calculate Average Marks

In [22]:
marks_input = input("Enter marks: ")

marks = [int(mark) for mark in marks_input.split()]

total_marks = sum(marks)
num_subjects = len(marks)
average = total_marks / num_subjects

print("Average marks:", average)

Enter marks: 89 78 90 95 86 92 99
Average marks: 89.85714285714286